<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--
      Veza na SQL Server. Prilagodite "Server=" svojoj instalaciji:
        .\SQLEXPRESS               - SQL Server Express (najčešće)
        localhost  ili  .          - SQL Server Developer/Standard (zadana instanca)
        (localdb)\MSSQLLocalDB     - LocalDB koji dolazi uz Visual Studio
      Baza "Crewman" se kreira automatski pri prvom pokretanju aplikacije.
    -->
    <add name="Crewman"
         connectionString="Server=.\SQLEXPRESS;Database=Crewman;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
